*{margin:0;padding: 0;}
#wrap{
	width: 100vw;
	height: 100vh;
	background-color: pink;
	position: relative;
	color: white;

}
.video{
	width: 100%;
	height:100%;
	object-fit: fill;
	min-width: 1510px;
}
#first{
	/*height: 225px;*/
	width: 100%;
}
#first,#second p,h1{
	text-align: center;
	width: 904px;
	margin: 0 auto;
}

#first,#second p{
	padding-bottom: 40px;
}
#first,#second h1{
	padding-top: 50px;
}
#second{
	width: 99%;
	margin: 0 auto;
	background: grey;
}

#piao{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background:rgba(35,74,97,0.6);
}
#p1{
	padding-top: 370px;
	font-size: 50px;
}
#p2{
	padding-top: 45px;
	width: 904px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}
#p3{
	margin: 0 auto;
	width: 195px;
	height: 60px;
	background-color: rgb(61,178,160);
	text-align: center;
	line-height: 60px;
	font-size: 20px;
}
@media only screen and (max-width:960px ){
	#first,#second p,h1{
		width: 85%;
	}
	#p2{
		width: 85%;
	}
}